---
layout: page
title: Schedule
quote: "Things of quality have no fear of time."
live: true
background: bg-near-white-pink
---

{% for date in site.data.schedule %}
<div class="pb4">
  <div class="pa3 tc br3 br--top bg-garland">
    <h2 class="mt0 mb0 white ttu tracked f3 tc">{{ date.day }}</h2>
    <h3 class="mv0 white ttu tracked f4">{{ date.date }}</h3>
  </div>
  <div class="bg-near-white-pink pa3 br3 br--bottom f3 cf">
    {% if date.location %}
    <div class="cf pb3">
      <div class="fr-ns w-70-ns">
        <p class="mb0 gray f4">{{ date.location }}</p>
        <p class="gray f4">{{ date.address }}</p>
        <p class="mb0 gray i f4">({{ date.description }})</p>
      </div>
    </div>
    {% endif %}
    {% for event in date.events %}
    <div class="cf mt3 mb4">
      <div class="fl-ns w-30-ns pr3-ns b garland gray-ns"><p class="dib bg-white br3 pv1 mb2 ph3 f4">{{ event.time }}</p></div>
      <div class="fl-ns w-70-ns">
        <h4 class="mv0 f3 gray">{{ event.title }}</h4>
        <p class="mb0 gray f4">{{ event.location }}</p>
        {% if event.address %}<p class="gray f4">{{ event.address }}</p>{% endif %}
        {% if event.description %}<p class="mb0 gray i f4">({{ event.description }})</p>{% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endfor %}
