<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Alex & Kevin {% if page.title %}| {{ page.title }}{% endif %}</title>
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.6.1/css/tachyons.min.css"/>
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://use.typekit.net/rzm7nmi.js"></script>
  <script>try{Typekit.load({ async: false });}catch(e){}</script>
</head>
